.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgb(31, 30, 30) /* Align items to the left */
}

.title {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  margin-right: 1em;
  color: white /* Adjust margin as needed */
}

.add-button {
  margin-right: 1em;
  color: rgb(122, 14, 14) /* Adjust margin as needed */
}
